# Node dependencies
node_modules

# Build output
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
*.swp

# dotenv files (si tienes claves sensibles)
.env
.env.*.local
